body {font-family: arial;}

h1, p {letter-spacing: 0.5rem;}
.centro {text-align: center;}

.foto {width: 8rem; height: 8rem;}

h1 {color: azure; background-color: #04779e;}

a:link, a:visited, a:hover, a:active {text-decoration: none; color: #04779e;}
